<%- include('header', { title: 'Home' }) %>
<section class="home">
    <h2 style="text-align: center;">Welcome to the Language Learning Tool</h2>
    <div class="languages">
        <a href="https://studyspanish.com/" target="_blank" class="language">

            <img src="spanish.jpg"  alt="Spanish" class="language-image">
            <h3>Spanish</h3>
            <p>Learn the beautiful language of Spanish. Practice with flashcards and take quizzes to test your knowledge.</p>
        </a>
        <a href="https://www.elearningfrench.com/" class="language" target="_blank">
            <img src="french.jpg" alt="French" class="language-image">
            <h3>French</h3>
            <p>Immerse yourself in the French language. Use flashcards and quizzes to enhance your learning experience.</p>
        </a>
        <a href="https://www.learngermanonline.org/" class="language" target="_blank">
            <img src="german.jpg" alt="German" class="language-image">
            <h3>German</h3>
            <p>Master the German language. Study with flashcards and quizzes to improve your skills.</p>
        </a>
        <a href="https://storylearning.com/learn/chinese" class="language"target="_blank">
            <img src="chinese.jpg" alt="Chinese" class="language-image">
            <h3>Chinese</h3>
            <p>Explore the complexity of the Chinese language. Utilize flashcards and quizzes for effective learning.</p>
        </a>
        <!-- Add more languages as needed -->
    </div>
</section>
<%- include('footer') %>